/* ## TABLE OF CONTENTS ##
00 - BASE
01 - LAYOUT
02 - MODULES
03 - STATES
04 - THEME
05 - FONTS
06 - MISC
*/

/* ## 00 - BASE ## */
/* Alteração de margem */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0 7.5px;
}
.row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}*/

body {
	font-family: 'Open Sans', sans-serif;
}

.breakline {
	display: block;
}

.hamburger-menu {
	position: absolute;
	height: 50px;
	width: 25px;
	overflow: hidden;
	text-indent: -9999px;
	background: 0;
	border: 0;
	padding: 0;
	outline: 0;
	float: right;
	right: 15px;
	z-index: 10;
}
.hamburger-menu span {
	top: 50%;
	left: 0;
	right: 0;
	position: absolute;
	height: 2px;
	background: #e9c20f;
	display: block;
	transition: background .3s linear;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-webkit-backface-visibility: hidden
}
.hamburger-menu span:after,
.hamburger-menu span:before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #e9c20f;
	position: absolute;
}
.hamburger-menu span:before {
	transition: top .3s .3s, -webkit-transform .3s 0s;
	-moz-transition: top .3s .3s, -webkit-transform .3s 0s;
	-webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
	top: -8px;
	-webkit-transform: rotate(0)
}
.hamburger-menu span:after {
	transition: bottom .2s .3s, -webkit-transform .3s 0s;
	-moz-transition: bottom .2s .3s, -webkit-transform .3s 0s;
	-webkit-transition: bottom .2s .3s, -webkit-transform .3s 0s;
	bottom: -8px;
	-webkit-transform: rotate(0)
}
.hamburger-menu.is-active span {
	background: 0 0
}
.hamburger-menu.is-active span:before {
	transition: top .3s 0s, transform .3s .3s;
	top: 0;
	transform: rotate(45deg)
}
.hamburger-menu.is-active span:after {
	transition: bottom .3s 0s, transform .3s .3s;
	bottom: 0;
	transform: rotate(-45deg)
}
.mobile-nav--list {
	padding: 15px;
	margin: 0;
	list-style: none;
}

.mobile-nav--list li a {
	color: #696969;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}


/* ## 01 - LAYOUT ## */
.upper-header {
	background: #e9c20f;
	position: relative;
}
.upper-header:before {
	content: '';
	width: 100%;
	height: 1px;
	background: #000;
	top: 1px;
	display: block;
	z-index: 10;
	position: absolute;
}
.upper-header:after {
	content: '';
	width: 100%;
	height: 1px;
	background: #e9c20f;
	bottom: -2px;
	display: block;
	z-index: 10;
	position: absolute;
}
.upper-header--list {
	margin: 0;
	padding: 20px 0 0;
	list-style: none;
}
.upper-header--list li {
	display: inline-block;
}
.upper-header--link {
	padding: 30px;
	text-transform: uppercase;
	color: #151515;
	font-size: 14px;
	font-weight: 600;
}
.upper-header--icon-1 {
	background: url('../img/icon-acesso.png') no-repeat left;
}
.upper-header--icon-2 {
	background: url('../img/icon-simulador.png') no-repeat left;
}
.upper-header--icon-3 {
	background: url('../img/icon-servicos.png') no-repeat left;
}
.upper-header--icon-4 {
	background: url('../img/icon-contato.png') no-repeat left;
}
.upper-header--search {
	margin-top: 1px;
	position: relative;
	width: 100%;
}
.upper-header--input {
	height: 57px;
	width: 100%;
	background: #d59401;
	border: 0;
	padding: 0 50px 0 15px;
}
.upper-header--input:focus {
	outline: 0;
	background: #c48902;
}
.upper-header--button {
	position: absolute;
	right: 10px;
	width: 40px;
	height: 40px;
	background: url('../img/icon-busca.png')no-repeat center;
	border: 0;
	top: 10px;
	text-indent: -9999px;
	transition: transform .2s ease-in-out;
}
.upper-header--button:hover {
	transform: scale(1.1);
}
.upper-header--button:focus {
	outline: 0;
}
.header-general {
	padding-top: 10px;
}
.header-general img {
	max-height: 47px;
}
.page-header {
	margin: 15px 0;
	border: 0;
}
.page-header h1 {
	color: #aaaaaa;
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	text-transform: uppercase;
	position: relative;
}
.page-header h1::after {
	content: '';
	display: block;
	background: #e9c20f;
	width: 150px;
	height: 3px;
	position: absolute;
	margin-top: 15px;
}
.page-header--image {
	position: relative;
	border-top: 3px solid #da251d;
	border-bottom: 1px solid #a2843c;
}
.page-header--image::before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	top: -5px;
	background: #e9c20f;
	position: absolute;
}
.page-header--image::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #e9c20f;
	position: absolute;
	bottom: 0;
}
.page-header--image img {
	width: 100%;
	height: auto;
}
.page-content {
	padding: 50px 0;
}
.services-box:hover {
	text-decoration: none;
}
.services-box--image {
	min-height: 170px;
}
.services-box--image img {
	margin: 0 auto;
}
.services-box h2 {
	color: #aaaaaa;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid #d4d4d4;
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: 220px;
	min-height: 80px;
	position: relative;
}
.services-box h2::after {
	content: '';
	background: #e9c20f;
	box-shadow: 0 0 0 3px #fff;
	height: 8px;
	width: 8px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.services-box--text-padding {
	padding-top: 30px!important;
}
.services-box::after {
	content: '';
	display: block;
	background: #e9c20f;
	width: 150px;
	height: 3px;
	margin: 25px auto 50px;
}
.contact {
	background: url('../img/bg-contato.jpg') no-repeat center;
	background-size: cover;
	padding: 50px 0;
	text-align: center;
}
.contact h2 {
	color: #fff;
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-style: normal;
	font-size: 42px;
	text-transform: uppercase;
	margin: 0;
}
.contact h2::after {
	content: '';
	display: block;
	background: #d93600;
	width: 150px;
	height: 3px;
	margin: 15px auto 0;
}
.contact h3 {
	color: #fff;
	font-size: 22px;
	margin-top: 50px;
	min-height: 50px
}
.contact-box {
	font-size: 26px;
	font-weight: 300;
	min-height: 100px;
}
.contact-box--alone {
	min-height: 90px;
}
.contact-number {
	color: #000;
}
.contact-app:hover {
	text-decoration: none;
	color: #151515;
}
.contact-number--alone {
	padding-top: 25px;
}
.contact-app {
	color: #000;
	text-decoration: none;
	background: url('../img/icon-whatsapp.png') no-repeat left;
	padding-left: 45px;
}
.contact-app span {
	font-size: 20px;
}
.contact small {
	color: #fff;
	font-size: 14px;
}
.footer-general {
	padding: 50px 0;
	color: #696969;
	text-align: center;
	font-size: 13px;
}
.footer-general--list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-general--list li a {
	color: #151515;
	font-weight: 600;
	text-transform: uppercase;
}

/* ## 02 - MODULES ## */
.page-content form {
	margin-bottom: 30px;
}
.form-field {
	position: relative;
	margin-bottom: 15px;
}
.form-field--input {
	font-weight: 600;
	height: 65px;
	border: 2px solid #d4d4d4;
	text-transform: uppercase;
	color: #151515;
	font-size: 16px;
	padding: 0 0 0 15px;
	width: 100%;
    /*-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;*/
	background: #fff;
	transition: border-color .2s ease-in-out;
	border-radius: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {
	padding: 20px 10px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}
.field--required:after {
	content: '*';
	font-size: 32px;
	color: #d93600;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	display: block;
	position: absolute;
	right: -17px;
	top: 19px;
}
.form-field--tip.field--required:after {
	right: 60px;
}
.form-field--input:focus {
	border-color: #777;
	outline: 0;
}
.error-message {
	font-weight: bold;
	color: #d93600;
	padding-top: 4px;
}
.error-message:before {
	content: 'X';
	color: #d93600;
	font-size: 16px;
	display: inline-block; 
}

.form-field--error .error-message {
	display: block;
}
.error-message {
	display: none;
}
.form-field--submit {
	overflow: hidden;
}
.form-field--submit input {
	font-weight: 600;
	height: 65px;
	border: 2px solid #d4d4d4;
	text-transform: uppercase;
	color: #aaaaaa;
	font-size: 16px;
	padding: 0 60px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	transition: border-color .2s ease-in-out;
	border-radius: 0;
	float: right;
}
.form-field--submit::after {
	content: '';
	background: #e9c20f;
	box-shadow: 0 0 0 3px #fff;
	height: 8px;
	width: 8px;
	position: absolute;
	bottom: 0;
	right: 15px;
}
.disclaimer {
	margin-top: 30px;
	color: #aaaaaa;
	font-size: 14px;
	text-transform: uppercase;
}
.disclaimer a {
	color: #e9c20f;
}
.disclaimer a:hover {
	color: #aaaaaa;
	text-decoration: none;
}
.disclaimer h4 {
	font-size: 37px;
	margin-top: 0;
	font-weight: bold;
	display: inline-block;
}
.disclaimer h4::after {
	content: '';
	display: block;
	background: #e9c20f;
	width: auto;
	height: 3px;
	margin: 20px 0;
}
.required-icon, .error-icon {
	position: relative;
	padding-left: 20px;
}
.required-icon::before {
	content: '*';
	font-size: 32px;
	color: #d93600;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	left: 0;
	top: -2px;
}
.error-icon::before {
	content: 'X';
	color: #d93600;
	font-size: 16px;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 1px;
}
.page-header h2 {
	color: #aaaaaa;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	margin-top: 50px;
}
.form-subtitle h3 {
	color: #aaaaaa;
	font-size: 36px;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	padding-left: 15px;
}
.form-subtitle h3::before {
	content: '';
	background: #f8edb7;
	height: 25px;
	width: 175px;
	position: absolute;
	bottom: 10px;
	z-index: -999;
}

.form-field--label {
	height: 60px;
	padding-top: 21px;
	text-align: right;
	text-transform: uppercase;
	color: #aaa;
	font-size: 16px;
	width: 100%;
	text-align: center;
}
.form-field--label-- {
	height: 60px;
	color: #aaa;
	font-size: 16px;
	width: 100%;
	text-align: center;
}
.form-field--radio label {
	height: 65px;
	border: 2px solid #d4d4d4;
	line-height: 60px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #aaa;
	margin-bottom: 15px;
	cursor: pointer;
}
.form-field--radio input {
	display: none;
}
.form-field--radio input:checked + label {
	background: #aaa;
	color: #fff;
}

.form-field--tip input {
	display: inline-block;
	width: calc(100% - 80px);
	margin-right: 30px;
}

.tip {
	cursor: help;
}
.tip--message {
	display: none;
	position: absolute;
	padding: 20px;
	border: 2px solid #aaa;
	top: 80px;
	right: 0px;
	background: #fff;
	width: 100%;
	z-index: 10;
	box-shadow: 0 6px 10px rgba(0,0,0,.1);
}
.tip--message p {
	margin: 0;
}
/* ## 03 - STATES ## */

/* ## 04 - THEME ## */
/* Colors 
1: #e9c20f;
2: #da251d;
3: #f8edb7;
*/


/* ## 05 - FONTS ## */
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueLight.woff2') format('woff2'),
		url('../fonts/BebasNeueLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue-Thin.woff2') format('woff2'),
		url('../fonts/BebasNeue-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
		url('../fonts/BebasNeueRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
		url('../fonts/BebasNeueBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueLight.woff2') format('woff2'),
		url('../fonts/BebasNeueLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
		url('../fonts/BebasNeueBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
		url('../fonts/BebasNeueRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue-Thin.woff2') format('woff2'),
		url('../fonts/BebasNeue-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
		url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/* ## 06 - MISC ## */
.cta {
	display: none;
}

.box-login {
	margin: 30px 0;
	padding: 50px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.box-login img {
	display: inline-block;
}
.form-login input {
	width: 100%;
}
.box-login .form-field--submit::after {
	right: 0;
}
.box-login .disclaimer h4 {
	font-size: 26px;
	margin-top: 0px;
}

/* Large desktops and laptops */
@media (min-width: 768px) {
	.mobile-nav--list {
		display: none;
	}
	.upper-header--link {
		font-size: 10px;
		padding: 15px;
	}
	.upper-header--link:hover {
		text-decoration: none;
		color: #696969;
	}
	.upper-header--icon-1,
	.upper-header--icon-2,
	.upper-header--icon-3,
	.upper-header--icon-4 {
		background-size: 10px;
	}
	.header-general--menu {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		float: right;
	}
	.header-general--menu li {
		display: inline-block;
		padding: 0 10px;
		text-align: center;
		float: left;
	}
	.header-general--menu li a {
		color: #696969;
		font-weight: 700;
		font-size: 11px;
		text-transform: uppercase;
		height: 44px;
		line-height: 41px;
	}
	.header-general--menu li:nth-child(4) a {
		line-height: 16px;
	}
	.header-general--menu li a:hover {
		text-decoration: none;
		color: #e6c138;
	}
	.header-general--menu li a:hover::after {
		content: '';
		display: block;
		background: #e6c138;
		width: 100%;
		height: 3px;
		margin-top: -10px;
	}
	.services-box {
		min-height: 270px;
	}
	.footer-general {
		text-align: left;
	}
	.footer-general span {
		display: block;
	}
	.footer-general--list {
		text-align: right;
	}
	.footer-general--list li {
		display: inline-block;
	}
	.footer-general--list li:last-child::before {
		content: '|';
		font-weight: 700;
		margin: 0 5px;
	}
}

@media (min-width: 992px) {
	.cta {
		display: block;
		position: fixed;
		right: 30px;
		bottom: 40px;
	}
	.header-general img {
		max-height: none;
	}
	.upper-header--link {
		font-size: 12px;
		padding: 20px;
	}
	.upper-header--icon-1,
	.upper-header--icon-2,
	.upper-header--icon-3,
	.upper-header--icon-4 {
		background-size: 15px;
	}
	.header-general--menu {
		padding: 20px 0 0;
	}
	.header-general--menu li {
		padding-left: 10px;
	}
	.header-general--menu li a {
		font-size: 14px;
	}
	.header-general--menu li a:hover::after {
		margin-top: 0;
	}
	.page-header--image {
		border-top: 10px solid #da251d;
	}
	.page-header--image::before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		top: -13px;
		background: #e9c20f;
		position: absolute;
	}
	.contact {
		padding: 75px 0;
	}
	.contact h2 {
		font-size: 50px;
	}
	.footer-general--list li:nth-child(2):before {
		content: '|';
		font-weight: 700;
		margin: 0 5px;
	}
	.form-field--label {
		text-align: right;
	}
	.form-field--label-- {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.upper-header--link {
		font-size: inherit;
		padding: 30px;
	}
	.upper-header--icon-1,
	.upper-header--icon-2,
	.upper-header--icon-3,
	.upper-header--icon-4 {
		background-size: inherit;
	}
	.header-general {
		padding-top: 15px;
	}
	.header-general--menu {
		padding: 28px 0 0;
	}
	.header-general--menu li {
		padding: 0 20px;
	}
	.header-general--menu li a {
		font-size: 16px;
		height: 44px;
		line-height: 44px;
	}
	.header-general--menu li:nth-child(4) a {
		line-height: 16px;
	}
	.header-general--menu li a:hover::after {
		height: 15px;
	}
	.page-header h1 {
		margin-top: 80px;
	}
	.contact-box {
		font-size: 42px;
		min-height: 160px;
	}
	.contact-box--alone {
		min-height: 150px;
	}
	.contact-app span {
		font-size: 22px;
	}
	.footer-general span {
		display: inline-block;
	}
	.page-header h2 {
		font-size: 48px;
	}
}

table {
	border-collapse: separate;
	border-spacing: 0 5px;
}

thead th {
	background-color: #e9c20f;
	color: white;
}

tbody td {
	background-color: #EEEEEE;
}

tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}